.pageWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
}

.card {
  background:var(--white);
  width: 100%;
  height:650px;
  max-width: 569px; 
  padding: 20px 24px;
  border-radius: 16px;
  box-shadow: 0 2px 6px var(--shadow);
  border: 1px solid var(--brown-80);
}


.title, .subtitle {
  margin: 0;
}

.title {
  color: var(--pink-main-100);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  color: var(--brown-80);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.label {
  font-size: 16px;
  color: var(--brown-100);
}

.input {
  width: 100%;
  height: 35px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 8px 12px;
  border: 0.75px solid var(--brown-80);
  border-radius: 8px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  height: 50px;
  background: var(--pink-main-80);
  border-radius: 8px;
  color: var(--brown-80);
  font-weight: 500;
  font-size: 24px;
  transition: 0.2s;
  margin-top: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--pink-main-100);
}

.error {
  color:var(--red);
  font-size: 14px;
  margin-top: 8px;
}

.registerText {
  text-align: center;
  color:var(--brown-60);
  margin-top: 48px;
  font-size: 15px;
}

.registerLink {
  color: var(--pink-main-80);
  font-weight: 400;
  cursor: pointer;
}
.registerLink:hover {
  color: var(--pink-main-100);
}
.noticeBox {
  margin-top: 48px;
  margin-bottom: 4px;
  background: var(--yellow-80);
  border: 1px solid var(--yellow-100);
  padding: 16px 15px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--brown-60);
}

.noticeBox ul {
  margin-left: 15px;
  list-style-type: disc;
  color: var(--brown-60);
  font-size: 12px;
}