.pageWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
  padding: 16px; 
  box-sizing: border-box;
}

.card {
  background: var(--white);
  width: 100%;
  max-width: 569px; 
  padding: 20px 16px;
  border-radius: 16px;
  box-shadow: 0 2px 6px var(--shadow);
  border: 1px solid var(--brown-80);
  box-sizing: border-box;
}

.title, .subtitle {
  margin: 0;
  text-align: center;
}

.title {
  color: var(--pink-main-100);
  font-size: clamp(28px, 6vw, 48px);
  font-weight: 700;
}

.subtitle {
  color: var(--brown-80);
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 400;
  margin-bottom: 24px;
}

.label {
  font-size: clamp(14px, 3vw, 16px);
  color: var(--brown-100);
}

.input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 8px 12px;
  border: 0.75px solid var(--brown-80);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.button {
  width: 100%;
  height: 50px;
  background: var(--pink-main-80);
  border-radius: 8px;
  color: var(--brown-80);
  font-weight: 500;
  font-size: clamp(18px, 4vw, 24px);
  transition: 0.2s;
  margin-top: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--pink-main-100);
}

.error {
  color: var(--red);
  font-size: 14px;
  margin-top: 8px;
}

.registerText {
  text-align: center;
  color: var(--brown-60);
  margin-top: 32px;
  font-size: clamp(12px, 3vw, 15px);
}

.registerLink {
  color: var(--pink-main-80);
  font-weight: 400;
  cursor: pointer;
}

.registerLink:hover {
  color: var(--pink-main-100);
}

.noticeBox {
  margin-top: 32px;
  margin-bottom: 8px;
  background: var(--yellow-80);
  border: 1px solid var(--yellow-100);
  padding: 12px 14px;
  border-radius: 8px;
  font-size: clamp(12px, 3vw, 16px);
  color: var(--brown-60);
}

.noticeBox ul {
  margin-left: 15px;
  list-style-type: disc;
  color: var(--brown-60);
  font-size: clamp(10px, 2.5vw, 12px);
}

@media (max-width: 400px) {
  .card {
    padding: 16px 12px;
  }
  .button {
    font-size: 20px;
  }
}
