.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary); 
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: var(--pink-main-100 );
}

.subtitle {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 45px;
  color: var(--brown-80);
}
.label{
    font-size: 16px;
    color: var(--brown-80);
}
.input {
  width: 100%;
  height:35px;
  padding: 16px;
  border-radius: 8px;
  border: 0.75px solid var(--brown-80);
  font-size: 16px;
  margin-bottom: 16px;
}

.select {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border-radius: 8px 12px;
  border: 1px solid var(--brown-80);
  background:var(--white);
  font-size: 16px;
  margin-bottom: 16px;
  display: block;
  line-height: 40px;
  appearance: auto;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
  font-size: 14px;
  color: var(--brown-80);
}

.button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: var(--pink-main-80);
  font-size: 24px;
  cursor: pointer;
  margin-top: 24px;
  color: var(--brown-80);

}

.button:hover {
  background: var(--pink-main-100);
}

.error {
  color: var(--red);
  font-size: 12px;
  margin-top: 8px;
}


.loginText {
  margin-top: 10px;
  text-align: center;
  color: var(--brown-80);
  font-size: 16px;
}

.loginLink {
  color: var(--pink-main-80);
  cursor: pointer;
  font-weight: 600;
}

.loginLink:hover {
  color: var(--pink-main-100);
}